body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.react-confirm-alert-body {
	background: #4abdac !important;
	color: white !important;
	width: 295px !important;
}

.react-confirm-alert-button-group > button {
	background: #ff7d7d !important;
	color: white !important;
}
